.header{
    padding: 40px 0 100px 
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__link{
    padding: 12px 32px ;
    background-color: #a6adff;
    border-radius: 8px;
    font-size: 20px;
}