.vacancy{
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    height: 100%;
    cursor: pointer;
}

.vacancy__title{
    padding: 3px 5px;
    border-radius: 4px;
    background: #EAECFF;
    font-size: 14px;
    font-weight: 400;
    color: #171717;
    max-width: 169px;
    display: inline-block;
    margin-bottom: 8px;
}

.vacancy__img{
    max-height: 44px;
    margin-bottom: 12px;
    display: block;
}

.vacancy__company{
    margin-bottom: 8px;
}

.vacancy__field{
    color: #CCC;
}